*{
    margin: 0px;
    padding: 0px;
}

.grand{
   background-color: rgb(0, 0, 0);
   height: 600px;
   width: 100%;
   display: flex;
   justify-content: space-around;
   flex-direction: row;
}

.father-1 {
   width: 44%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column;
}

.father-2 {
    width: 44%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: row;
}

.sona {
   width: 350px;
   height: 150px;
   display: flex;
   justify-content:space-around;
   flex-direction: row;
   align-items: center;
   border: 1px solid rgba(112, 171, 196, 0.781);
   border-radius: 5px;
}

.sonb {
   width: 350px;
   height: 150px;
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   padding-top: 10px;
   border: 1px solid rgba(112, 171, 196, 0.781);
   border-radius: 5px; 
}

.sonc {
   width: 350px;
   height: 150px;
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   align-items: end;
   border: 1px solid rgba(112, 171, 196, 0.781);
   border-radius: 5px;
   padding-bottom: 10px;
}

.sond {
   width: 150px;
   height: 350px;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   align-items: center;
   border: 1px solid rgba(112, 171, 196, 0.781);
   border-radius: 5px;
}

.sone {
   width: 150px;
   height: 350px;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   align-items: start;
   padding-left: 10px;
   border: 1px solid rgba(112, 171, 196, 0.781);
   border-radius: 5px;
}

.sonf {
   width: 150px;
   height: 350px;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   align-items: end;
   padding-right: 10px;
   border: 1px solid rgba(112, 171, 196, 0.781);
   border-radius: 5px;
}

div {
   width: 80px;
   height: 80px;
   border: 1px solid rgb(185, 119, 119);
   border-radius: 5px;
}